[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
geopy = "*"
tqdm = "*"
matplotlib = "*"
keras = "*"
scikit-learn = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
